/*import font from g-fonts*/
@import url("https://fonts.googleapis.com/css2?family=Benne&family=Castoro:ital@0;1&family=Viaoda+Libre&display=swap");
:root {
  --peach: #ef9273;
  --cream: #fef9f8;
  --charcoal: #0d0d0d;
  --Benne: "Benne", serif;
  --cast: "Castoro", serif;
  --Viaoda: "Viaoda Libre", cursive;
}
.col1 {
  color: var(--charcoal);
}
.col2 {
  color: var(--peach);
}
.col3 {
  color: var(--cream);
}

.fon {
  font-family: var(--viaoda);
}

/*header*/

header {
  background-color: rgb(223, 215, 220);
  font-family: var(--Benne);
}

.header-links a {
  font-size: 0.9em;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
body {
  padding-right: 5%;
  padding-left: 5%;
}

/*NAVIGATION MENU*/
.navbar-nav {
  padding: 0.8em 0em;
}
.navbar-nav .nav-link {
  font-size: 0.9em;
  color: rgb(0, 0, 0);
}
.navbar-nav .nav-item .nav-link {
  padding: 0 1.3em;
}

.navbar-nav .bag-icon {
  margin-right: 6.5rem !important;
}

/* SLIDERONE*/
.site-slider {
  position: relative;
}

.position-top {
  position: absolute;
  top: 50%;
}

.site-slider .site-btn .prev,
.site-slider .site-btn .next {
  background-color: blue;
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  color: white;
  margin: 0 1rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.site-slider:hover .prev,
.site-slider:hover .next {
  opacity: 1;
}

.right-0 {
  right: 0;
}
/*SLICKdots*/
.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  right: 50%;
}
.slick-dots li {
  margin: 0 0.6rem;
}

.slick-dots button {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  padding: 0;
  border: none;
  background-color: white;
  text-indent: -99999px;
  border-radius: 100%;
}

.slick-dots.slick-active button {
  transform: scale(2.5);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0, 0.205);
}
/*SECONDSLIDER*/
.site-slider-two {
  position: relative;
  height: 30%;
}
.site-slider-two .product {
  height: 25rem;
  position: relative;
  overflow: hidden;
}

.site-slider-two .product img {
  width: 90%;
  margin: auto;
}
.site-btn.btn-span {
  padding-bottom: 10px;
  padding: 0.8rem 1.9rem;
  border-radius: 4rem;
  border: 1px solid var(--charcoal);
  background-color: white;
  color: grey;
}
.slider-two .slick-track .product:hover span {
  background-color: plum;
}

/*dfdgsg*/

.head-body {
  flex: 1;
  background: white;
}

.head-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  background-image: none;
}
.head-body div {
  margin-top: 10px;
  position: relative;
  padding-top: 20px;
  margin: 16px;
}
.head-body-content {
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.head-title {
  font-size: 42px;
  text-transform: capitalize;
  line-height: 1.5;
  padding: 10px 0;
  font-family: "Fira Sans", sans-serif;
  word-spacing: 7px;
}
.btn {
  margin: 25px 0;
  text-transform: uppercase;
  background: grey;
  color: black;
  border: 1.5px solid white;
  font-size: 14px;
  padding: 12px 26px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  color: rgb(39, 39, 71);
}

/* FOOTER */

footer {
  padding-left: 0px;
  padding-right: 0px;
}
.footer {
  background-color: black;
  padding: 6rem 0rem;
  line-height: 3rem;
}

.footer-center span {
  margin-right: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
}

.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: #807a7a;
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-center a:hover {
  color: rgb(41, 49, 49);
}

.footer-center div {
  color: whitesmoke;
  font-size: 1.4rem;
}

.footer-center h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer .payment-methods {
  margin-top: 2rem;
}

@media only screen and (max-width: 998px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}

/*VENDORS*/

.brands {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 10%;
  cursor: pointer;
}
.col-5 {
  font-display: inherit;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  align-items: center;
  content: "";
  display: table;
}

.title {
  text-align: center;
}

/* ADVERTS */
.advert .advert-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.advert-layout .item {
  position: relative;
  z-index: 0;
  width: 100%;
  overflow: hidden;
}

.advert-layout img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 300ms ease-in-out;
}

.advert-layout .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.advert-layout .left {
  right: 10%;
}

.advert-layout .right {
  left: 10%;
}

.advert-layout .content span {
  display: block;
  margin-bottom: 1rem;
  transition: all 300ms ease-in-out;
}

.advert-layout .content h3 {
  font-size: 3rem;
  font-weight: inherit;
  margin-bottom: 1rem;
  transition: all 300ms ease-in-out;
}

.advert-layout .content a {
  transition: all 300ms ease-in-out;
}

.advert-layout .content a:hover {
  color: var(--primary);
}

.advert-layout .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}

.advert-layout .item:hover::after {
  background-color: rgba(180, 64, 64, 0.4);
}

.advert-layout .item:hover .content {
  color: var(--white);
}

.advert-layout .item:hover .content a {
  color: var(--white);
}

.advert-layout .item:hover img {
  transform: scale(1.1);
}

@media only screen and (max-width: 996px) {
  .advert-layout .left {
    right: 5%;
  }

  .advert-layout .right {
    left: 5%;
  }
}

@media only screen and (max-width: 768px) {
  .advert .advert-layout {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 567px) {
  .advert-layout .content span {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
  }

  .advert-layout .content h3 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  .advert-layout .content a {
    transition: all 300ms ease-in-out;
  }
}

/* BANNER */
.banner {
  padding-top: 20px;
}
.ban {
  height: calc(100vh - 6.5rem);
  background-color: var(--primary);
  position: relative;
  overflow: hidden;
}

.ban .rig {
  position: absolute;
  right: -7%;
  bottom: -1%;
}

.ban .rig img {
  max-width: 80rem;
  width: 100%;
  height: 60rem;
}

.ban .lef {
  color: var(--white);
  position: absolute;
  left: 7%;
  top: 40%;
}

.ban .lef span {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.ban .lef h1 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.ban .lef small {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.ban .lef a {
  display: inline-block;
  color: var(--white);
  font-weight: 700;
  border: 2px solid var(--white);
  padding: 0.7rem 1.5rem;
  margin-top: 1rem;
  transition: all 300ms ease-out;
}

.ban .lef a:hover {
  color: var(--primary);
  background-color: var(--white);
}

@media only screen and (max-width: 1200px) {
  .ban .rig img {
    height: 50rem;
  }

  .ban .lef span {
    font-size: 1.7rem;
  }

  .ban .lef h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 996px) {
  .ban .lef {
    top: 30%;
  }

  .ban .rig img {
    height: 35rem;
  }

  .ban .rig {
    right: -10%;
  }
}

@media only screen and (max-width: 567px) {
  .ban .lef {
    top: 25%;
  }

  .ban .rig img {
    height: 30rem;
  }

  .ban .rig {
    right: -18%;
  }

  .ban .lef span {
    font-size: 1.6rem;
  }

  .ban .lef h1 {
    font-size: 3rem;
  }
}
