.product-cards{
  display: inline-flex;
  border:1px solid black;
  height:300px;
  
}
.container {
  position: relative;
  width: 50%;
  margin:5px;
  margin-top: 10px;
}

.image {
  display: block;
  width: 300px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
background-color: black;
  border-radius: 10px;
  
}

.container:hover .overlay {
  opacity: 70%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

  







